<body style="margin:0;">
<!-- ヘッダー -->

<nav class="nav0">
  <div class="nav1">
    <h2>Yokusuru</h2>
  </div>
  <div class="nav2">
  <ul>
      <li><a href="#about">About</a></li>
      <li><%= link_to "Ranking", team_ranking_path %></li>
      <li><a href="/users/sign_in">Login</a></li>
  </ul>
  </div>
</nav>
  <!-- メイン -->



  <div class="bg-fixed bg-fixed1" style="background-image: url(<%= asset_path "3.jpg" %>);">
    <%= image_tag "mask60.png" %>
      <div class="catch-title">
        <h2>よくするって面白い！</h2>
        <h1>オフィスをよくするSNS 「Yokusuru」</h1>
      </div>
  </div>
  <div class="wrap-bg-button">
    <button onclick="location.href='/users/sign_up'"><h2>新規 登録</h2></button>
  </div>

  <div id="about">
    <div class="scroll scroll1">
      <div class="wrap-scroll1">
        <h2 style="color:#666666;">◆Yokusuruとは◆</h2>
        <p style="color:#666666;">
        <br/><br/><br/>
        何かを良くすること、自分たちの力で変えていくことに夢中な人へ、言い出せないモヤモヤを抱えている人へ、<br/>
        <br/>
        何かを良くすることは本来、楽しいことなのではないでしょうか。必死で進めたプロジェクト、夢中だったゲーム。
        <br/>前のめりで進んでいく感覚は、何かを良くしていくときに起こるものではないでしょうか。<br/>
        <br/>
        今度はそんな感覚を自分たちの空間に向けて、オフィスを良くしてもらえたらいいのではないかと思い、このSNSは生まれました。</p>
      </div>
    </div>
  </div>




  <div class="scroll scroll2">
  
    <div class="wrap">
      <div class="cover">
          <h2>◆ご利用の流れ◆</h2>
        </div>

      <div class="pct">
        <%= image_tag "11.PNG" %>
        <p>なんとなくモヤモヤすることを遊び感覚、軽い気持ちで提案を投稿してみる。</p>
      </div>

      <div class="pct">
        <%= image_tag "22.PNG" %>
        <p>意外にも半数以上がgood!を押してくれた。提案を「実行」しよう。</p>
      </div>
      
      <div class="pct">
        <%= image_tag "33.PNG" %> 
        <p>実行した提案はやがて企業の「制度」「文化」として根付いていく</p>
      </div>
      
      <div class="pct">
        <%= image_tag "44.PNG" %>
        <p>オフィスが良くなる！いい会社になる！モチベーションが上がって売り上げも上がる！？</p>  
      </div>
    
    </div>

  </div>






<div class="clearfix">
  <div class="bg-fixed bg-fixed2" style="background-image: url(<%= asset_path "7.jpg" %>); ">
    
  </div>

  <div class="scroll scroll3">
    <div class="wrap-sc3">
    <h2>◆利用事例◆</h2>
    <h3>他部署との関わりを強めたい</h3>
      <p>会社が大きくなって、人も増え、他部署の人とほとんど関わる機会が減った。同僚なのに顔も知らない人を作らないために、まずは関わりを持ちたかった。なので他部署の人とランチを食べに行ったら1人につき1000円支給される制度を作りました。</p></br></br></br>
      <h3></h3>
      <p></p>
    </div>
  </div>
</div>
  



  <div class="scroll scroll4">
    
    <div class="wrap2">
    <h2>◆yokusuruの特徴◆</h2>
    </div>

    <div class="wrap3">
    <h2><br/><br/><br/>◇使いやすい◇</h2>
    <p>投稿1つ１つが【提案中】【改善中】【改善完了】でカテゴリー分けされているので見やすく管理できます。
    コンパクトなタブによってまとまっているのでチャットツールのように流れていかないのでいちいち投稿を探す必要がありません。
    <br/><br/><br/>
    </p>
    <h2>◇楽しい◇</h2>
    <p>投稿数や投稿の進捗状況に応じてKP(改善ポイント)が反映され、ランキングに登録されます。より多くKPを獲得しランキングを競い合いましょう！
    <br/><br/><br/>
    </p>
    <h2>◇完全無料◇</h2>
    <p>どれだけオフィスをよくしても一切コストはかかりません！むしろ生産性があがり業績が上がるかもしれません！どんどんオフィスをよくしていきましょう！
    <br/><br/><br/>
    </p>
    </div>
  </div>

  <div class="bg-fixed bg-fixed3" style="background-image: url(<%= asset_path "2.jpg" %>);">

    <div class="scroll5">
      <div class="contacts">
        <%= form_for @contact, url: contact_index_path do |f| %>
      <h2>お問い合わせ</h2>
        <div class="form-group"> 
          <div>
            <br /><%= f.text_field :name, placeholder: 'お名前' %>
          </div> 
          <div>
            <br /><%= f.text_field :mail, placeholder: 'E-Mail' %>
          </div>
          <div>
            <br /><%= f.text_field :subject, placeholder: '件名' %>
          </div>
          <div>
            <br /><%= f.text_area :content, placeholder: '内容' %>
          </div>
          <div class="col-lg-12">
            <br /><%= f.submit "送信", :class => 'btn btn-primary withripple' %>
          </div>
        </div>
    <% end %>
      </div>
    </div>
  </div>

   <!-- ７段目 -->

    <div class="scroll scroll6">
      <div class="kaizenoh">
      <h1>さぁ、改善王を目指そう</h1>
      </div>


      <button onclick="location.href='/users/sign_up'"><h2>新規 登録</h2></button>
    

    </div>


<footer class="scroll scroll7">

    <div class="links">
      <a href="#"><p>Top</p></a>
      <a href="#"><p>ランキング</p></a>
      <a href="#"><p>運営</p></a>
      <a href="top/privacy"><p>プライバシーポリシー</p></a>
      <a href="/top/usage"><p>利用規約</p></a>
    </div>
    <div id="copyright">
      &copy;Yokusuru
    </div>
  </footer>
</body>
