<!--   
  <div id="top-header">
      <a href="#">Yokusuru</a>
    <div class="header-right">
      <button type="button" class="btn btn-default" onclick="location.href='/users/sign_in'">ログイン</button>
      <button type="button" class="btn btn-default">ランキング</button>
    </div>
  </div> 
  

  
  <div class="top-head">
    <div class="top-image">
      <%= image_tag "ore.png", :class => "col-md-12" %>
      <div class="top-text">
        <p>チームを「よくする」プラットフォームをここに。</p>
      </div>
      <div class="top-new-account">
        <button type="button" class="btn btn-primary" onclick="location.href='/users/sign_up'">新規登録</button>
      </div>
    </div>
  </div>
  

  <div class="gray">
  
  <div id="what-we-do" class="block">
    <div class="about-us">
      <p>Yokusuruで何をするの？</p>
    </div>
    <div class="top-instraction">
      <p>Yokusuruではチーム内のよくないところとその改善案を投稿し、チーム内で解決します。</br>解決していくとポイントが入り、他のチームとポイントを競い合えます。</p>
    </div>
  </div>
  

  
  <div id="top-body" class="block">
    <div class="about-us">
      <p>Yokusuruの特徴</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="top-body-image">
          <%= image_tag "heart.png", :width => "150px", :height => "150px" %>
        </div>
        <div class="concept">
          <p>使いやすい！</p>
        </div>
        <div class="text">
          <p>チーム改善専用のため管理がしやすく、投稿が流れにくい。</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="top-body-image">
          <%= image_tag "battle.png", :width => "150px", :height => "150px" %>
        </div>
        <div class="concept">
          <p>競い合える！</p>
        </div>
        <div class="text">
          <p>サービスを利用するほど改善ポイントが貯まっていき、<br/>その合計点で全ユーザーで競い合います。</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="top-body-image">
          <%= image_tag "free.png", :width => "150px", :height => "150px" %>
        </div>
        <div class="concept">
          <p>完全無料！</p>
        </div>
        <div class="text">
          <p>どれだけ投稿しても、どれだけ人数を増やしても、<br/>yokusuruの利用には費用は一切かかりません。</p>
        </div>
      </div>
    </div>
  </div>
  
  </div>

  
  <div id="contact-us" class="block">
    <div class="about-us">
      <p>お問い合わせ</p>
    </div>
    <div class="contact-us-left">
      <p>yokusuruではサービスを一緒によくするスタッフを募集しております。お気軽にご連絡ください。また、その他お問い合わせもお待ちしております。</p>
    </div>
    <div class="contact-us-right">
      <button type="button" class="btn btn-primary" onclick="location.href='/contact/new'">運営スタッフに応募</button>
      <button type="button" class="btn btn-primary" onclick="location.href='/contact/new'">その他お問い合わせ</button>
    </div>
  </div>
  

  
    <div id="new-account">
      <button type="button" class="btn btn-primary">さっそく始める！</button>
    </div> -->


<body style="margin:0;">
  <nav class="nav1">
    <h2>Yokusuru</h2>
      <ul>
        <li><a href="#0">Home</a></li>
        <li><a href="#0">About</a></li>
        <li><a href="#0">Ranking</a></li>
        <li><a href="#0">Login</a></li>
        <li><a href="#0">Contact</a></li>
      </ul>
  </nav>
  <!-- メイン -->



  <div class="bg-fixed bg-fixed1" style="background-image: url(<%= asset_path "3.jpg" %>);">
    <%= image_tag "mask60.png" %>
      <div class="catch-title">
        <h2>よくするって面白い！</h2>
        <p style="color: #F9f9f9;">オフィスをよくするSNS 「Yokusuru」</p>
      </div>
      <button onclick="location.href='/users/sign_up'"><h2>新規 登録</h2></button>
  </div>

  <div class="scroll scroll1">
    
    <div class="wrap-scroll1">
      <h2 style="color:#666666;">◆Yokusuruとは◆</h2>
      <p style="color:#666666;">
      <br/><br/><br/>
      何かを良くすること、自分たちの力で変えていくことに夢中な人へ、言い出せないモヤモヤを抱えている人へ、<br/>
      <br/>
      何かを良くすることは本来、楽しいことなのではないでしょうか。必死で進めたプロジェクト、夢中だったゲーム。
      <br/>前のめりで進んでいく感覚は、何かを良くしていくときに起こるものではないでしょうか。<br/>
      <br/>
      今度はそんな感覚を自分たちの空間に向けて、オフィスを良くしてもらえたらいいのではないかと思い、このSNSは生まれました。</p>
    </div>
  </div>




  <div class="scroll scroll2">
  
    <div class="wrap">

      <div class="pct">
        <%= image_tag "Psample1.png" %>
        <p>なんとなくモヤモヤすることを遊び感覚、軽い気持ちで提案を投稿してみる。</p>
      </div>

      <div class="pct">
        <%= image_tag "Psample1.png" %>
        <p>意外にも半数以上がgood!を押してくれた。提案を「実行」しよう。</p>
      </div>
      
      <div class="pct">
        <%= image_tag "Psample1.png" %> 
        <p>実行した提案はやがて企業の「制度」「文化」として根付いていく</p>
      </div>
      
      <div class="pct">
        <%= image_tag "Psample1.png" %>
        <p>オフィスが良くなる！いい会社になる！モチベーションが上がって売り上げも上がる！？</p>  
      </div>
    
    </div>

  </div>






<div class="clearfix">
  <div class="bg-fixed bg-fixed2" style="background-image: url(<%= asset_path "7.jpg" %>); ">
    
  </div>

  <div class="scroll scroll3">
    <h2>◆利用事例◆</h2>
    <h3>他部署との関わりを強めたい</h3>
    <p>会社が大きくなって、人も増え、他部署の人とほとんど関わる機会が減った。同僚なのに顔も知らない人を作らないために、まずは関わりを持ちたかった。なので他部署の人とランチを食べに行ったら1人につき1000円支給される制度を作りました。</p></br></br></br>
    <h3></h3>
    <p></p>
  </div>
</div>
  



  <div class="scroll scroll4">
    
    <div class="wrap2">
    <h2>◆yokusuruの特徴◆</h2>
    </div>

    <div class="wrap3">
    <h2><br/><br/><br/>◇使いやすい◇</h2>
    <p>投稿1つ１つが【提案中】【改善中】【改善完了】でカテゴリー分けされているので見やすく管理できます。
    コンパクトなタブによってまとまっているのでチャットツールのように流れていかないのでいちいち投稿を探す必要がありません。
    <br/><br/><br/>
    </p>
    <h2>◇楽しい◇</h2>
    <p>投稿数や投稿の進捗状況に応じてKP(改善ポイント)が反映され、ランキングに登録されます。より多くKPを獲得しランキングを競い合いましょう！
    <br/><br/><br/>
    </p>
    <h2>◇完全無料◇</h2>
    <p>どれだけオフィスをよくしても一切コストはかかりません！むしろ生産性があがり業績が上がるかもしれません！どんどんオフィスをよくしていきましょう！
    <br/><br/><br/>
    </p>
    </div>
  </div>

  <div class="bg-fixed bg-fixed3" style="background-image: url(<%= asset_path "2.jpg" %>);">

    <div class="scroll5">
      <div class="contacts">
        <h2>お問い合わせ</h2>

            <div class="form-group"> 
              <div>
                <br> <input placeholder="お名前" type="text" name="contact[name]">
              </div> 
              <div>
                <br> <input placeholder="E-Mail" type="text" name="contact[mail]">
              </div>
              <div>
                <br> <input placeholder="件名" type="text" name="contact[subject]">
              </div>
              <div>
                <br><textarea placeholder="内容" type="text" name="contact[content]"></textarea>
              </div>
              <div>
                <br><input type="submit" name="commit" value="送信">
              </div>
        </div>
      </div>
    </div>
  </div>

   <div class="scroll scrool7">
      <div class="kaizenoh">
      <h1>さぁ、改善王を目指そう</h1>
      </div>


      <button><h2>新規 作成</h2></button>
    

    </div>


<footer class="scroll scroll6">

    <div class="links">
      <a href="#"><p>利用規約</p></a>
      <a href="#"><p>運営</p></a>
      <a href="#"><p>その他なんか</p></a>
      <a href="#"><p>その他なんか</p></a>
      <a href="#"><p>その他なんか</p></a>
    </div>
  </footer>


