<%= form_for @user, url: {action: "complete"} do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.hidden_field :email %>
  </div>

  <div class="field">
    <%= f.hidden_field :password %>
  </div>

  <div class="field">
    <%= f.hidden_field :team_name %>
  </div>

  <div>
    <% if Team.exists?(:name => "#{@user.team_name}") %>
      <%= @team.name %>というチームは既に存在します。参加しますか？</br>
      <span>参加人数:<%= @team.users.count %>人</span>
    <% else %>
      このチームはまだ存在しません。新規に作りますか？
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "はい" %>
  </div>

<% end %>
