<%= render partial: 'common/header' %>

<div class="contents">
    <div class ="container">
		<div>
			<% if @user.avatar_file_name.empty? == true %>
				<%= image_tag "aka.jpg" %>
			<% else %>
				<img src="<%= @user.avatar.url(:medium) %>">
			<% end %>
			<p><%= @user.name %></p>
			<%= link_to "プロフィール編集", edit_user_path(current_user.id) %>
		</div>
<div>
    <%= render partial: 'problems/problem', collection: @problems %>
</div>

	</div>
</div>