<body style="background-image:url(<%= asset_path "yy.png" %>); margin: 0;">
  <div class="contacts">
    <%= form_for @contact, url: contact_index_path do |f| %>
      <h2>お問い合わせ</h2>
        <div class="form-group"> 
          <div class="col-lg-12">
            <br /><%= f.text_field :name, placeholder: 'お名前' %>
          </div> 
          <div class="col-lg-12">
            <br /><%= f.text_field :mail, placeholder: 'E-Mail' %>
          </div>
          <div class="col-lg-12">
            <br /><%= f.text_field :subject, placeholder: '件名' %>
          </div>
          <div class="col-lg-12">
            <br /><%= f.text_field :content, placeholder: '内容' %>
          </div>
          <div class="col-lg-12">
            <br /><%= f.submit "送信", :class => 'btn btn-primary withripple' %>
          </div>
        </div>
    <% end %>
  </div>
</body>