<!DOCTYPE html>
<html lang ="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yokusuru</title>
  <% if request.path_info != '/' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% else %>
  <%= stylesheet_link_tag    'top', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="あなたのチームをよくするwebツール" />
  <meta property="og:type" content="website" />
  <meta property="og:url" 
   content="http://http://yokusuru.tokyo/home" />
  <meta property="og:site_name" content="Yokusuru" />
  <meta property="og:description" 
   content="会議に出すほどでもないけどなんかモヤモヤすることありませんか？Yokusuruでそのモヤモヤを共有してみたら、同じことを考えてる人が他にもいるかもしれません。" />
  <meta property="og:image" 
   content="yokusuru.png">
  <% if request.path_info != '/' %>
    <!-- Bootstrap -->
    
  <% end %>
  
</head>
<body>

    	<%= yield %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/javascripts/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="../assets/javascripts/jquery.min.js"></script>
</body>
</html>